@media screen and (max-width: 990px) {
    .ticket-container .ticket {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .ticket-container .ticket .tic-details .seat-det .seat-cr {
        width: 70px;
        align-items: start;
    }
    .ticket-container .ticket .barcode svg {
        width: 200px !important;
    }

    .ticket-container .ticket .barcode h5 img {
        bottom: 8px;
        left: 33%;
      }
}

@media screen and (max-width: 630px) {
    .ticket-container .ticket {
        height: 190px;
    }

    .ticket-container .ticket .tic-details .seat-det .seat-cr h6:nth-child(2) {
        font-size: 15px;
    }

    .ticket-container .ticket .tic-details .seat-det .seat-cr h6:nth-child(1) {
        font-size: 14px;
    }
    .ticket-container .ticket .barcode svg {
        width: 150px !important;
        height: 110px !important;
      }

      .ticket-container .ticket .barcode {
        width: 235px;
        padding: 0 10px;
      }

      .ticket-container .ticket .barcode h5 img {
        bottom: 8px;
        left: 28%;
        width: 70px;
      }

}

@media screen and (max-width: 590px) {
    .container {
        max-width: 430px;
    }

    nav {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 480px) {
    .ticket-container .ticket {
        height: 350px;
        flex-direction: column-reverse;
    }

    .ticket-container .ticket .barcode {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ticket-container .ticket .barcode .card h6 {
        text-align: center;
    }

    .ticket-container .ticket .barcode h5 img {
        display: none;
    }

    .ticket-container .ticket .barcode svg {
        width: 200px !important;
    }
}

@media screen and (max-width: 430px) {
    .container {
        max-width: 297px;
    }

    nav ul {
        margin: auto;
    }

    nav ul li {
        text-align: center;
    }

    nav ul li a {
        font-size: 14px;
    }
}